<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class= "container">
            <h2 class="text-center">Edit Profile</h2>
            <hr />
            <%= form_for @user do |f| %>
                <%= render 'shared/error_messages', object: f.object %>
                <div class="text-center">
                <% if @user.picture? %>
                    <%= image_tag @user.picture.url, class: "br-max" %>
                <% else%>
                    <%= image_tag 'default.jpg', class: "br-max" %>
                <% end %>
                </div>
                <%= f.file_field :picture, autocomplete: "image", :multipart => true %>

                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= f.label :email %>
                    <%= f.text_field :email, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control' %>
                </div>
                <div class="form-group">
                    <%= f.label :password_confirmation %>
                    <%= f.password_field :password_confirmation, class: 'form-control' %>
                </div>

                <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
            <% end %>
        </div>
    </div>
</div>