<h3 class='text-center border-bottom p-3 mb-3'>Members</h3>

<div class='row'>
    <% @users.each do |user| %>
        <div class="col-sm-3">
            <div class="card bg-light mb-3" style="max-width: 15rem;">
                <div class="card-body text-center">
                    <% if user.picture? %>
                        <%= image_tag user.picture.url, class: 'pic' %>
                    <% else %>
                        <%= image_tag 'default.jpg', class: "pic" %>
                    <% end %>
                    <p></p>
                    <h6 class="card-title"><%= link_to user.name, user, class: "bluetext" %></h6>
                    <p></p>
                    <% unless current_user?(user) %>
                            <div id="follow-form">
                            <% if current_user.following?(user) %>
                                <%= render 'unfollow', object: user.id %>
                            <% else %>
                                <%= render 'follow', object: user.id %>
                            <% end %>
                            </div>
                    <% end %>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="border-top pt-3">
        <%= will_paginate %>
</div> 