<div class="row">
    <div class="col-lg-4">
        <div class="card mb-6">
            <div class="card-body text-center">
                <% if @user.picture? %>
                    <%= image_tag @user.picture.url, class: 'pic-list' %>
                <% else %>
                    <%= image_tag 'default.jpg', class: 'pic-list' %>
                <% end %>
                <p></P>
                    <h5><%= @user.name %></h5>
                    <p><%= @user.email %></p>

                    <div>
                        <% unless current_user?(@user) %>
                            <div id="follow-form">
                            <% if current_user.following?(@user) %>
                                <%= render 'unfollow', object: @user.id %>
                            <% else %>
                                <%= render 'follow', object: @user.id %>
                            <% end %>
                            </div>
                        <% end %>
                    </div>
                <hr>
<!-- number of following and followed 　-->
                   <div class="d-inline mr-4"><%= "Following" %></div>
                    <div class="d-inline ml-3"><%= "Followers" %></div>
                    <div>
                        <strong id="following">
                        <%=link_to @user.following.count, following_user_path(@user), class: "mr-5 text-warning"  %>
                        </strong>
                        
                        <strong id="followers">
                        <%=link_to @user.followers.count, followers_user_path(@user), class: "ml-5 text-warning"  %>
                        </strong>
                    </div>
                <hr>
<!-- learned words -->
            <%= "Learned Words" %>
            <div>
            <strong><%=link_to @user.learned_word, user_words_path(@user) , class: "text-warning"  %></strong>
            </div>
            </div>
        </div>
    </div>
<!-- Activity Feed -->
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">
            <h5 class="d-inline"><%= "FOLLOWERS" %></h5>
            <%= link_to "Go Back", user_path(@user), class: "btn btn-warning float-right" %>
            </div>
            <div class="card-body">
            <% if @user.followers.any? %>
                <table class="table">
                <tbody>
                <% @user.followers.each do |user| %>
                <tr>
                    <td> 
                        <% if user.picture? %>
                            <%= image_tag user.picture.url, class: 'small-pic' %>
                        <% else %>
                            <%= image_tag 'default.jpg', class: "small-pic" %>
                        <% end %>
                    </td>
                    <td> <%= link_to user.name, user, class: "bluetext" %> </td>
                    <td>
                    <% unless current_user?(user) %>
                        <div id="follow-form">
                        <% if current_user.following?(user) %>
                            <%= render 'unfollow', object: user.id %>
                        <% else %>
                            <%= render 'follow', object: user.id %>
                        <% end %>
                        </div>
                    <% end %>
                    </td>
                </tr>
                <% end %>
                </tbody>
                </table>
            <% else %>
                <div class="text-muted">No Followers.</div>
            <% end %>
            </div>
        </div>
    </div>

</div>