<div class="row" >
    <div class="col-lg-4" >
        <div class="card mb-6">
            <div class="card-body text-center">
                <% if @user.picture? %>
                    <%= image_tag @user.picture.url, class: 'pic-list' %>
                <% else %>
                    <%= image_tag 'default.jpg', class: 'pic-list' %>
                <% end %>
                <p></P>
                    <h5><%= @user.name %></h5>
                    <p><%= @user.email %></p>

                    <div>
                        <% unless current_user?(@user) %>
                            <div id="follow-form">
                            <% if current_user.following?(@user) %>
                                <%= render 'unfollow', object: @user.id %>
                            <% else %>
                                <%= render 'follow', object: @user.id %>
                            <% end %>
                            </div>
                        <% end %>
                    </div>
                <hr>
<!-- number of following and followed 　-->
                    <div class="d-inline mr-4"><%= "Following" %></div>
                    <div class="d-inline ml-3"><%= "Followers" %></div>
                    <div>
                        <strong id="following">
                        <%=link_to @user.following.count, following_user_path(@user), class: "mr-5 text-warning" %>
                        </strong>
                        
                        <strong id="followers">
                        <%=link_to @user.followers.count, followers_user_path(@user), class: "ml-5 text-warning"  %>
                        </strong>
                    </div>
                <hr>
<!-- learned words -->
            <%= "Learned Words" %>
            <div>
                <strong><%=link_to @user.learned_word, user_words_path(@user), class: "text-warning"   %></strong>
            </div>
            </div>
        </div>
    </div>
<!-- Activity Feed -->
    <div class="col-lg-8">
        <div class="card">
            <h5 class="card-header"><%= "ACTIVITY" %></h5>
            <div class="card-body">
                <% unless @activities.any?  %>
                <div class="text-muted">Nothing to show.</div>
                <% else %>
                 <ul class="list-unstyled">
                     <% @activities.each do |activity| %>
<!-- User's Image  -->
                        <li class="media mb-4">
                        <div class="mr-2">
                            <% if @user.picture? %>
                            <%= image_tag @user.picture.url, class: 'small-pic' %>
                            <% else %>
                            <%= image_tag 'default.jpg', class: "small-pic" %>
                            <% end %> 
                        </div>
<!-- Activity Content (Lesson / Relationship) -->
                        <div class="media-body">
                            <% if current_user == @user %>
                                <%= link_to "You", user_path(@user), class: "text-warning"  %> 
                            <% else %>
                                <%= link_to activity.user.name, user_path(activity.user.id), class: "text-warning"  %> 
                            <% end %>

                            <% if activity.action_type == "Lesson" %>
                                learned
                                <%= activity.action.result %> of <%= activity.action.category.words.count %>
                                in <%= link_to activity.action.category.title, lesson_path(activity.action.id), class: "text-warning"   %>
                            <% else %>
                                followed
                                <% if activity.action.followed_id == current_user.id %>
                                <%= link_to "you", user_path(@user), class: "text-warning"  %>
                                <% else %>
                                <%= link_to followed(activity.action.followed_id).name, user_path(activity.action.followed_id), class: "text-warning"  %> 
                                <% end %>
                            <% end %>

                            <div>
                            <small class="text-muted"><%= time_ago_in_words(activity.created_at) %> ago</small>
                            </div>
                        </div>
                        </li>
                    <% end %>
                </ul>
                 <div class="card-footer bg-light">
                    <%= will_paginate @activities %>
                </div>
                <% end %>
            </div>
        </div>
    </div>

</div>
