<div class="row">
    <div class="col-lg-6 offset-lg-2">
        <div class="card" style="width: 42rem;">
            <div class="card-header">
            <h3><%= @category.title %></h3>
            <h5>Result: <%= @lesson.result %> of <%= @category.words.count %></h5>
            </div>     
            <table class="table table-hover">
                <thead>
                <tr>
                <th scope="col">Word</th>
                <th scope="col">Correct Answer</th>
                <th scope="col">Answer</th>
                <th scope="col"></th>
                </tr>
                </thead>

                <tbody>
                <%  @words.zip(@choices).each do |word, choice| %>
                <tr>
                <td><%= word.word %></td>
                <td><%= word.correct_answer.choice %></td>
                <td><%= choice.choice %></td>
                <td>
                    <% if choice.correct == true %>
                        <div><i class="fas fa-check"></i></div>
                    <% else %>
                        <div><i class="fas fa-times"></i> </div>
                    <% end %>
                </td>
                </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>