<h2 class='text-center'>Categories</h2>
<div class="btn-group float-right">
  <%= link_to "All", categories_path, class: "btn btn-outline-info #{'active' if params[:status].nil?}" %>
  <%= link_to "Learned", categories_path(status: "learned"), class: "btn btn-outline-info #{'active' if params[:status]=="learned"}" %>
  <%= link_to "Unlearned", categories_path(status: "unlearned"), class: "btn btn-outline-info #{'active' if params[:status]=="unlearned"}" %>
</div>
</div>

<div class="container">
  <div class="row">
    <% unless @categories.any? %>
      <h4 class="text-muted float-center"><%="Nothing to show"%></h4>
    <% else %>
      <% @categories.each do |category| %>
          <div class="col-md-6">
            <div class="card bg-light mb-4" style="width: 32rem; height: 165px;">
              <div class="card-body">
                <h4 class:="card-title"><%= category.title %></h4>

                <div class="card-subtitle mb-2 text-muted">
                <%= category.description %>
                <% unless  check_learn(category).nil? || check_learn(category).result.nil?  %>
                    <div class="float-right mt-1">Learned <%= check_learn(category).result %> of <%= category.words.count %></div>
                <% end %>
               </div>

                <% if check_learn(category).nil?  %>
                  <%= form_for @lesson do |f| %>
                    <div><%= hidden_field_tag :category_id, category.id %></div>    
                    <%= button_tag type: 'submit', class: "btn btn-info float-right mt-4", id: "register-button", style: "width:140px;" do %>
                      <i class="fas fa-book"></i>  Let's Start!
                    <% end %>
                  <% end %>

                <% elsif check_learn(category).result.nil? %>
                  <%= link_to new_lesson_answer_path(check_learn(category).id), class: 'btn btn-info float-right mt-4', style: "width:140px;" do %>
                   <i class="fas fa-book"></i>   Let's Start!
                  <% end %>

                <% else %>
                  <%= link_to lesson_path(check_learn(category).id), class: 'btn btn-secondary float-right mt-4 mb-2', style: "width:140px;" do %>
                  <i class="fas fa-eye"></i>  Show Result
                  <% end %>

                <% end %>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="border-top pt-3">
        <%= will_paginate %>
</div> 