<h2 class='text-center'>Categories</h2>
<div class="btn-group float-right">
  <%= link_to "All", categories_path, class: "btn btn-outline-info" %>
  <%= link_to "Learned", "#", class: "btn btn-outline-info" %>
  <%= link_to "Unlearned", "#", class: "btn btn-outline-info" %>
</div>
</div>
<div class="container">
  <div class="row">
      <% @categories.each do |category| %>
          <div class="col-md-6">
            <div class="card bg-light mb-4" style="width: 32rem; height: 165px;">
              <div class="card-body">
                <h4 class:="card-title"><%= category.title %></h4>
                <p></p>
                <h6 class="card-subtitle mb-2 text-muted"><%= category.description %></h6>
                  
                <p></p>
                
                <%= form_for @lesson do |f| %>
                  <div><%= hidden_field_tag :category_id, category.id %></div>    
                  <%= f.submit "Learn", class: 'btn btn-secondary float-right' %>
                <% end %>

              </div>
            </div>
          </div>
      <% end %>
  </div>
</div>

<div class="border-top pt-3">
        <%= will_paginate %>
</div> 