<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <%= link_to "Framgia ELS", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <% if logged_in? %>
        <li class="nav-item">
            <%= link_to "#", class: 'nav-link' do %>
            <i class="fas fa-list-ul"></i> Dashboard
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to new_admin_category_path, class: 'nav-link' do %>
            <i class="fas fa-list-ul"></i> Categories
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to users_path, class: 'nav-link'  do %>
            <i class="fas fa-users"></i> Members
            <% end %>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
            </a>        
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Settings", edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Logout", logout_path, method: :delete, class: "dropdown-item" %>
            <div class="dropdown-divider">
            </div>
                <a class="dropdown-item" href="#">Coming soon here...</a>
            </div>
        </li>

        <% else %>
        <li class="nav-item">
            <%= link_to root_path, class: "nav-link" do %>
            <i class="fas fa-home"></i> Home
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to contact_path, class: "nav-link" do %>
            <i class="fas fa-envelope"></i> Contact
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to new_user_path, class: "nav-link" do %>
            <i class="fas fa-user-plus"></i> Sign up
            <% end %>
        </li>
        <li class="nav-item">
            <%= link_to login_path, class: "nav-link" do %>
            <i class="fas fa-sign-in-alt"></i> Log in
            <% end %>
        </li>
        <% end %>
        
        </ul>
        
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>